.pageContainer
  display: flex
  flex-direction: column
  min-height: 100vh
  width: 75vw
  margin: 0 auto
 
.pageHeader, .pageFooter,
.pageSearch, .pageCards
  padding: 2% 0 2% 0

.pageSearch
  h1
    margin-bottom: 1%
  
  form
    width: 45vw
    display: flex
    justify-content: space-between

    input[type="text"]
      flex: 1
      background-color: #f5f5f5
      border: 2px solid #fff 
      border-radius: 5px 0 0 5px
      padding: 10px
      color: #212121

    button
      padding: 5px
      background-color: #00c853
      border: 2px solid #fff
      border-radius: 0 5px 5px 0
      color: #fff
      font-weight: bold

.pageCards
  display: flex
  justify-content: space-between
  flex-wrap: wrap
  margin-top: 1%
  
  .card
    background-color: #fff
    color: #212121
    min-width: 25%
    border: 2px solid #fff
    border-radius: 5px
    padding: 2%

    span
      display: block
    
    .cardHeader
      font-weight: bold
      font-size: 2em  

    .cardMain
      display: flex
      justify-content: space-between
      align-items: center
      margin: 5% 0 8% 0
      
      img
        width: 100px

      :nth-child(1)
        font-size: 2.5em  

    .cardDetails
      display: flex
      justify-content: space-between
      font-size: 0.8em

.pageFooter
  margin-top: auto
  display: flex
  justify-content: flex-end
  align-items: center

  a
    text-decoration: none
    color: #00c853